[Desktop Entry]
Type=Application
Name=TURAG Console
Categories=Utility;Electronics;DataVisualization;Monitor;
Exec=turag-console %f
Icon=turag-48
Terminal=false
StartupNotify=true
