*~
*.bak
*build*
!build_info.c
!build_info.h
tmp
bin
*.kate-swp
*.swp

# C/C++
*.o
*.o.d

# QtCreator
*.pro.user
*.pro.user.*
*.autosave
*.creator.user
*.creator.user.*
*.creator
*.config
*.files
*.includes
*.cflags
*.cxxflags

# Qt
.qmake.stash
moc_*.cpp
qrc_*.cpp

# ;)
core

# NXT
*.sym

#GeGi
*.elf
*.hex

#Eclipse
.project
.cproject
.settings

#Python
*.pyc

# Doxygen
doxygen_sqlite3.db
/doc/html
/doc/qtdoc
/doc/html-gnav

# Matlab
*.mexa64
*.mexa32

# Windows
*Thumbs.db

# VS Code
.vscode

# ros
ros/.catkin_tools/VERSION

# Telgram-Bot
projects/telegram-bot/config.json
projects/telegram-bot/config.json.bkp
