*~
*.bak
*build*
tmp
bin
*.kate-swp

# C/C++
*.o
*.o.d

# QtCreator
*.pro.user
*.pro.user.*
*.autosave
*.creator.user
*.creator.user.*

# Qt
moc_*.cpp
qrc_*.cpp

# ;)
core

# NXT
*.sym

#Eclipse
.project
.cproject
.settings

#Python
*.pyc

tools/GerbGerb/bin_unix

# Doxygen
doxygen_sqlite3.db

# Matlab
*.mexa64
*.mexa32
