Source: turag-console
Section: misc
Priority: extra
Maintainer: Richard Liebscher <richard_liebscher@turag.de>
Build-Depends: cdbs, 
               debhelper (>= 7.0.50~),
               qt5-default,
               qtbase5-dev,
               qtmultimedia5-dev,
               libqt5svg5-dev,
               libqt5serialport5-dev,
               libqwt6-qt5-dev
Standards-Version: 3.9.5
Homepage: http://www.turag.de

Package: turag-console
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Util to communicate with TURAG robot components
  TURAG-Console provides a GUI to communicate with from TURAG developed components.
	
